<!-- <h3> Hi ! {{playerName}}</h3> -->
<div class="fetch-games">

  <!-- <input [(ngModel)]="playerName" type="text" name="playerName" id="playerName" class="playerName" placeholder="your username"> -->
  <!-- <br> -->
  <button (click)="fetchGames()" class="btn btn-red">
    <span>Show Games!</span>
  </button>
</div>

<div>
  <div *ngFor="let match of matches; let i=index">
    <div class="match-header">
      <h4>{{opponentNames[i]}}</h4>
      <h2>{{choosingWord[i]?.toUpperCase()}}
        <div id="speak-word" *ngIf="choosingWord[i] !== undefined">
          <span (mouseenter)="speakWordUS(choosingWord[i])">🇺🇸</span>
          <span (mouseenter)="speakWordUK(choosingWord[i])">🇬🇧</span>
          <span (mouseenter)="speakWordFR(choosingWord[i])">🇫🇷</span>
        </div>
      </h2>
      <div class="select">
        <select [(ngModel)]="choosingWord[i]" class="select-text">
          <option *ngFor="let word of foundWords[i]">{{word}}</option>
        </select>
        <span class="select-bar"></span>
      </div>
      <button (click)="deleteWord(i)">x</button>
      <div class="match-controls">
        <button (click)="findWords(i, false)" class="btn">
          <span>Find! {{foundWords[i]?.length}}</span>
        </button>
        <button *ngIf="choosingWord[i] !== undefined" (click)="autoClickTiles(i)" class="btn btn-purple">
          <span>Click</span>
        </button>
        <button (click)="clearSelected(i)" class="btn btn-orange">
          <span>Clear</span>
        </button>
      </div>
    </div>
    <div class="square-container">
      <div *ngFor="let tile of tileGrids[i]; let j=index">
        <div class="square owner-{{tileGrids[i][j]['o']}} surrounded-{{tileGrids[i][j]['s']}}">
          <div class="content">
            <div class="toggle">
              <input type="checkbox" [(ngModel)]="selectedTile[i][j]" name="check-{{i}}-20" value="{{tileGrids[i][j]['t']}}">
              <span class="button"></span>
              <span class="label">{{tileGrids[i][j]['t']}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>